body {
    background-color: black;
    margin: 0;
} 
.h1 {
    color: white;
    margin-left: 5px;
    
}
 
.span {
    display: flex;
    color: aliceblue;
    align-items: center;
    margin-top: 22px;
    justify-content: space-between space-around;
    margin-left: 50px;
    padding: 10px 20px;
    font-size: large;
} 

button {
    background-color: #0078d4;
    color: aliceblue;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 15px;
} 

.img {
    display: flex;
    margin-left: 15px;
    size: 20px;
} 

.search {
    height: 20px;
    margin-top: 30px;
    color: white;
    background-color: black;
} 

.docs {
    margin-right: 7px;
    color: grey;
    
} 
.docs:hover {
    cursor: pointer;
    color: wheat;
} 

.img1 {
    margin-top: 20px;
    margin-left: 20px;
}